@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@import "@mantine/core/styles.css";
@import "@mantine/dates/styles.css";
@import "@mantine/notifications/styles.css";

body {
  font-family: "Inter", sans-serif;
}

label {
  font-family: "Montserrat", sans-serif;
}

:root {
  /* General Colors */
  --primary: #073066;
  --primary-hover: #0a4ca4;
  --accent: #dcb000;
  --accent-hover: #c5a100;
  --dark-primary: #262626;
  --dark-secondary: #626262;
  --ui-border: #c3c3c3;
  --primary-white: #f2f2f2;
}
